@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.header-bg {
  background-color: #fffbf0;
}
.penguin {
  color: #fabe4c;
}

.winter,
.woman__jackets > h2,
.man__jackets > h2,
.penguin-heading {
  color: #363958;
}
.penguin-btn {
  background-color: #a4bc46;
  color: #fff;
}
.jacket-bg {
  background-color: #f1f1f1;
}

.feature__content {
  width: 489px;
}
