@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.header-bg {
  background-color: #fffbf0;
}
.penguin {
  color: #fabe4c;
}
.winter {
  color: #363958;
}
.penguin-btn {
  background-color: #a4bc46;
  color: #fff;
}
